<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>To Do List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WIW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br />
  <br />
<div class="card">
  <div class="card-body">
    <form method="post" action="index.php">
   
      <br><br><div class="card">
      
      <div class="card-header bg-primary">
      <h1 class="text-white text-center">  Create New Pasien </h1>
      </div><br>
     
      <input type="hidden" name="id" class="form-control" value= VALUE_ID> <br>
     
      <label> NIK: </label>
      <input type="text" name="nik" class="form-control" value= VALUE_NIK> <br>
  
      <label> NAMA: </label>
      <input type="text" name="nama" class="form-control" value= VALUE_NAMA> <br>
     
      <label> EMAIL: </label>
      <input type="text" name="email" class="form-control" value= VALUE_EMAIL> <br>
     
      <label> TELP: </label>
      <input type="text" name="telp" class="form-control" value= VALUE_TELP> <br>
      
      <label> TEMPAT: </label>
      <input type="text" name="tempat" class="form-control" value= VALUE_TEMPAT> <br>
      
      <label> TANGGAL LAHIR: </label>
      <input type="text" name="tl" class="form-control" value= VALUE_TL> <br>
      
      <label> GENDER: </label>
      <input type="text" name="gender" class="form-control" value= VALUE_GENDER> <br>
      
      <br>
     
      <button class="btn btn-success" type="submit" name="submit"> Submit </button><br>
      <a class="btn btn-info" type="submit" name="cancel" href="index.php"> Cancel </a><br>
     
      </div>
  </form>

  </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>